.mypage-container
  .mypage-left
    .left-wrapper
      .mypage-top
        .mypage-image
          .portorate
        .mypage-profile
          .mypage-name 関谷　佑斗
          %a.mypage-edit
            %i.fa.fa-cog プロフィール編集
      %ul.filter-list
        %a.filter-item.selected 購入履歴
        %a.filter-item 購入履歴（月額）
        %a.filter-item お気に入りリスト
        .message-list
          %i.fa.fa-inbox メッセージ
        %a.filter-item
          %i.fa.fa-user  メッセージ一覧
        %a.filter-item
          %i.fa.fa-envelope  新規メッセージ作成
        .answer-list
          %i.fa.fa-question-circle ヘルプ・問い合わせ
        %a.filter-item
          %i.fa.fa-question-circle よくある質問リスト
  .mypage-right
    .right-wrapper
      .mypage-message
        %input.user-search{ type:"search", placeholder: "ユーザー名を検索する" }
        %a.new-message  <i class="fa fa-envelope"></i>  新規メッセージ作成
      .mypage-message-list まだ誰もいません
