.mypage-container
  .mypage-left
    .left-wrapper
      .mypage-top
        .mypage-image
          .portorate
        .mypage-profile
          .mypage-name 関谷　佑斗
          %a.mypage-edit{ href: "/users/1/edit" }
            %i.fa.fa-cog プロフィール編集
      %ul.filter-list
        %a.filter-item{ href: "/users/1" } 購入履歴
        %a.filter-item 購入履歴（月額）
        %a.filter-item お気に入りリスト
        .message-list
          %i.fa.fa-inbox メッセージ
        %a.filter-item{ href: "/users/1/messages" }
          %i.fa.fa-user  メッセージ一覧
        %a.filter-item.selected{ href: "/users/1/messages/new" }
          %i.fa.fa-envelope  新規メッセージ作成
        .answer-list
          %i.fa.fa-question-circle ヘルプ・問い合わせ
        %a.filter-item
          %i.fa.fa-question-circle よくある質問リスト
  .mypage-right
    .right-wrapper
      .message-tree-nav
        %a
          %i.fa.fa-arrow-circle-left.fa-2x.index-message
          メッセージ一覧へ戻る
      .project-selection-header メッセージの送付先を選択してください
      %h3#send-contributor
        %i.fa.fa-chevron-circle-down 支援者にメッセージを送信する
      .select-contributor   どのプロジェクトの支援者に送るかを選択してください
      %h3#send-orner
        %i.fa.fa-chevron-circle-down 実行者にメッセージを送信する
      .select-orner   どのプロジェクトの実行者に送るかを選択してください
