.PcTopCategoryProjectArea__container__2Bjhp {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.PcTopCategoryProjectArea__category-wrapper__7BS-H {
  margin-bottom: 20px;
}

.PcTopCategoryProjectArea__socialgood {
  color: #df051c;
}

.PcTopCategoryProjectArea__local {
  color: #35a16b;
}

.PcTopCategoryProjectArea__art {
  color: #9a0079;
}

.PcTopCategoryProjectArea__challenge {
  color: #f90;
}

.PcTopCategoryProjectArea__product {
  color: #0064d0;
}

.PcTopCategoryProjectArea__category-name__2WZLV {
  padding: 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 18px;
}

.PcTopCategoryProjectArea__socialgood
.PcTopCategoryProjectArea__category-name__2WZLV {
  border-bottom: 1px solid #df051c;
}

.PcTopCategoryProjectArea__local
.PcTopCategoryProjectArea__category-name__2WZLV {
  border-bottom: 1px solid #35a16b;
}

.PcTopCategoryProjectArea__challenge
.PcTopCategoryProjectArea__category-name__2WZLV {
  border-bottom: 1px solid #f90;
}

.PcTopCategoryProjectArea__art
.PcTopCategoryProjectArea__category-name__2WZLV {
  border-bottom: 1px solid #9a0079;
}

.PcTopCategoryProjectArea__product
.PcTopCategoryProjectArea__category-name__2WZLV {
  border-bottom: 1px solid #0064d0;
}

.top-category-page .favorite-tag {
  color: #888;
  padding: 5px;
  border-radius: 4px;
  background: white;
  font-size: 13px;
}

.PcTopCategoryProjectArea__category-message__1zlX2 {
  padding: 10px;
  font-size: 16px;
}

.PcTopCategoryProjectArea__static-banner__2BBlL {
  display: flex;
  justify-content: space-between;
}

.PcTopCategoryProjectArea__announcements__1cB4R {
  display: inline-flex;
  margin-bottom: 30px;
}
