.PcTopContainer__navbar__3erDz {
  text-align: center;
  background-color: #fff;
}

.PcTopContainer__container__cjvdu,
.PcTopContainer__information__3pGwU {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.PcTopContainer__bottom-banners__2hh5U,
.PcTopContainer__public__1nhMO {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.PcTopContainer__bottom-banners__2hh5U {
  justify-content: space-between;
  padding-bottom: 10px;
}

.PcTopContainer__wrap__234Wu {
  width: 500px;
}

.PcTopContainer__information__3pGwU {
  display: flex;
}
