.PcTopCategoryProjectArea__container__2Bjhp {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.PcTopCategoryProjectArea__category-wrapper__7BS-H {
  margin-bottom: 20px;
}

.PcTopCategoryProjectArea__socialgood__3GYda {
  color: #df051c;
  border-bottom: 1px solid #df051c;
}

.PcTopCategoryProjectArea__visual__1jwLY {
  padding: 10px;
  display: flex;
  align-items: center;
}

.PcTopCategoryProjectArea__category-name__2WZLV {
  display: flex;
  flex: 1;
  font-size: 18px;
}

.top-category-page .favorite-tag {
  color: #888;
  padding: 5px;
  border-radius: 4px;
  background: white;
  font-size: 13px;
}

.PcTopCategoryProjectArea__category-message__1zlX2 {
  color: #df051c;
  padding: 10px;
  font-size: 16px;
}

.PcTopCategoryProjectArea__static-banner__2BBlL {
  display: flex;
  justify-content: space-between;
}

.PcTopCategoryProjectArea__announcements__1cB4R {
  display: inline-flex;
  margin-bottom: 30px;
}
