.PcTopProjectList__container__1SV7K {
  padding-top: 20px;
  clear: both;
}

.PcTopProjectList__header__1_-D6 {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.PcTopProjectList__header__1_-D6 .PcTopProjectList__title__39nY9 {
  flex: 1;
  padding-left: 12px;
  color: #616161;
  font-size: 19px;
}

.PcTopProjectList__header__1_-D6 .PcTopProjectList__title__39nY9.is-s {
  font-size: 16px;
}

.PcTopProjectList__header__1_-D6 .PcTopProjectList__more__1IH_J {
  padding-right: 12px;
  color: #df051c;
  font-size: 17px;
}

.search-page-box {
  height: 124px;
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(203,203,203,0.5);

  span {
    position: absolute;
    top: 50px;
    font-size: 15px;
    font-weight: bold;
    color: #dd6363;
    left: 20%;
  }
}
