.PcTopCategoryNavBar__nav__OC0Kd {
  background-color: #fff;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  top: 47px;
  z-index: 45;
  max-width: 1000px
}

.PcTopCategoryNavBar__nav__OC0Kd::-webkit-scrollbar {
  display: none
}

.PcTopCategoryNavBar__nav__OC0Kd a {
  padding: 8px 15px;
  color: #616161;
  -webkit-transition: color .2s;
  transition: color .2s;
  -webkit-animation: PcTopCategoryNavBar__nav-fade-in__3j4uQ 0s ease-out both;
  animation: PcTopCategoryNavBar__nav-fade-in__3j4uQ 0s ease-out both
}
