.TopInformationList__container__3UM1Z {
  background-color: #fff;
  border-radius: 3px;
  margin: 15px 7px;
  padding: 5px 10px;
}

.TopInformationList__header__1aLi9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #7c7a7a;
  font-size: 14px;

  a {
    color: #7c7a7a;
  }
}

.TopInformationList__content__1QQPR {
  display: flex;
  font-size: 13px;
  align-items: center;
  padding: 5px 0;
  color: #7c7a7a;
}

.TopInformationList__content__1QQPR .TopInformationList__left__xsF_j {
  display: flex;
  align-items: center;
}

.TopInformationList__content__1QQPR .TopInformationList__category__2d5za {
  display: flex;
  justify-content: center;
  background-color: #e4e4e4;
  padding: 3px;
  white-space: nowrap;
  font-size: 11px;
}

.TopInformationList__content__1QQPR .TopInformationList__date__25geg {
  display: flex;
  justify-content: center;
  width: 75px;
  font-size: 11px;
}

.TopInformationList__content__1QQPR .TopInformationList__title__3DbO {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
