%article.Entry.is-type4.Grid__col5
  = link_to("#", class: "u-link-area" ) do
    .Entry__img
      .Entry__img-mask
        = image_tag("https://placehold.jp/200x200.png?text=sample",
                    class: "lazyautosizes lazyloaded",
                    lazy: "true",
                    data: { sizes: "auto",
                            src: "https://placehold.jp/200x200.png" })
  .Entry__body
    %p.Entry__dsc.is-xs.u-align_c.u-mb_5.is-hide-line2
      幻の国産車「くろがね四起」を<br>復元中
    %h3.Entry__h.is-s.u-align_c.u-mb_10
      小林雅彦さん
    = link_to("#", class: "u-link-area") do
      %p.Entry__dsc.is-s.is-hide-line4
        地元の企業主や、社員にも、自分の活動が胸をはってやれることだって示すきっかけになりました
