.flash {
  width: 100%;
  color: white;
  text-align: center;
  border: 3px solid white;
  font-size: 30px;
  position: fixed;
  bottom: 0;
  opacity: 0.5;
  &__alert{
    background-color: red;
  }
  &__notice {
    background-color: black;
  }
}
