.profile
  .profile__photo
    - if current_user.avatar.present?
      %img{ src: "#{current_user.avatar}" }
    - else
      %img{ src:"https://readyfor.jp/assets/noimage/noimage2-4a1d65fcb2283f403840eabc8f398100042714714fdce21f021c615fd66396f4.jpg" }
  .profile__body
    .profile-top
      = current_user.nickname
    .profile-bottom
      = current_user.profile
