.PcTopVisual__visual__2BHQD {
  position: relative;
}

.PcTopVisual__image__34PJ7 img {
  width: 100%;
  height: auto;
  filter: brightness(85%);
}

.PcTopVisual__mask__1X6Fr img {
  min-width: 60%;
  max-width: 100%;
  min-height: 200px;
}

.PcTopVisual__main__1VJEV {
  font-size: 25px;
}

.PcTopVisual__text__1B41p {
  padding-left: 100px;
  width: 100%;
  position: absolute;
  color: #fff;
  top: 40px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  font-size: 23px;
  padding: 0;
}

.PcTopVisual__text-box__2sKKY {
  padding-left: 100px;
}

.PcTopVisual__link__1tvB4 {
  padding-top: 45px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}


.PcTopVisual__button__2dT0v a {
  padding: 15px 55px;
  border-radius: 2px;
  font-size: 17px;
  text-decoration: none;
}

.PcTopVisual__proposal__3kFu1 {
  background-color: #df051c;
  color: #fff;
}

.PcTopVisual__button-search__33N-U {
  padding-left: 25px;
}

.PcTopVisual__search__3KjFr {
  background-color: #fff;
  color: #737373;
}
