.Grid__col3 {
  width: 312px;
}

.Grid__col3+.Grid__col3 {
  margin-left: 32px;
}

.Header {
  margin-bottom: 20px;
  line-height: 1;
}

.Header::after {
  content: '';
  display: block;
  clear: both;
}

.Heading {
  color: #6D6D6D;
  float: left;
  line-height: 1.9;
}

.Heading.is-s h2 {
  font-size: 16px;
  line-height: inherit;
}

.Header .Header-more {
  padding: 8px 0;
  font-size: 16px;
  color: #DF051C;
}
