<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @image_upload_test.image.url %>
</p>

<%= link_to 'Edit', edit_image_upload_test_path(@image_upload_test) %> |
<%= link_to 'Back', image_upload_tests_path %>
