.search-project-body
  .container
    .sidebar
      = render 'projects/sidebar'
    .page-main
      %section.Grid.amount
        = render partial: 'toppage/partial/PcTopProjectList',
                  locals: { title: "検索結果 #{ @projects_count }件",
                            projects: @projects }
      .page-main__footer
        = paginate(@projects)
