.new-project
  .col-sm-3
    .tab-lists
      %h1 ページの編集
      %ul.tabs
        %li.select
          基本情報
        %li
          ストーリー
        %li
          リターン
    .btn.btn-light.save-btn
      %p 登録
  .col-sm-9
    .tab-content
      %h1 基本情報
      .tab-content__form-group
        .project-title
          %label タイトル
          = text_field :title, required: true, autofocus: true, placeholder: "タイトルを入力してください。"
        %label 画像
        .project-image
          = file_field :content, required: true
          = hidden_field :status, value: "main"
    .tab-content.hide
      %p ページ2
      %h1 こんばんは
    .tab-content.hide
      %p ページ3
      %h1 おはようございます
