$(".PcTopVisual__visual__2BHQD").remove();
$(".PcTopCategoryNavBar__nav__OC0Kd").children().removeClass("PcTopCategoryNavBar__is-active__1HV9W");
$(".PcTopCategoryNavBar__product__2pzr9").addClass("PcTopCategoryNavBar__is-active__1HV9W");
$("#PcTopContentArea").html("#{ j(render partial: 'toppage/product') }");
