$(".PcTopVisual__visual__2BHQD").remove();
$(".PcTopCategoryNavBar__nav__OC0Kd").children().removeClass("PcTopCategoryNavBar__is-active__1HV9W");
$(".PcTopCategoryNavBar__socialgood__FE1rj").addClass("PcTopCategoryNavBar__is-active__1HV9W");
$("#PcTopContentArea").html("#{ j(render partial: 'toppage/socialgood') }");
