= link_to('#', class: "announcement-card Grid__col3") do
  .thumbnail
    = image_tag 'http://placehold.jp/312x170.png'
  .body
    .report-label
      %i.fa.fa-bullhorn{ aria: { hidden: true } }
      活動報告
    .announcement-title
      タイトル
    .project-title
      プロジェクト名
    .posted-at
      %i.fa.fa-clock-o{ aria: { hidden: true } }
      16分前
