.PcPublicNews__container__2F9sM
  .PcPublicNews__header__H8JRt
    %span
      掲載ニュース
    = link_to("一覧", "#", target: "_blank")

  = link_to("#", class: "PcPublicNews__content__1iGin", target: "_blank") do
    .PcPublicNews__left__16Y0U
      %span{ class: "PcPublicNews__date__2hby0" }
        2018-06-26
      %span{ class: "PcPublicNews__publisher__1HNhX" }
        NHK
    %span{ class: "PcPublicNews__title__2O3RF" }
      NHK静岡　おはよう静岡

  = link_to("#", class: "PcPublicNews__content__1iGin", target: "_blank") do
    .PcPublicNews__left__16Y0U
      %span{ class: "PcPublicNews__date__2hby0" }
        2018-06-23
      %span{ class: "PcPublicNews__publisher__1HNhX" }
        福井新聞
    %span{ class: "PcPublicNews__title__2O3RF" }
      人道の港敦賀との関わり次世代へ １１月国際文化交流フェスティバル

  = link_to("#", class: "PcPublicNews__content__1iGin", target: "_blank") do
    .PcPublicNews__left__16Y0U
      %span{ class: "PcPublicNews__date__2hby0" }
        2018-06-21
      %span{ class: "PcPublicNews__publisher__1HNhX"}
        東京新聞
    %span{ class: "PcPublicNews__title__2O3RF" }
      ザンビア無医村に診療所を　ご当地お好み焼きで資金支援

