.PcTopVisual__image__34PJ7
  .PcTopVisual__mask__1X6Fr
    = image_tag("https://readyfor.jp/assets/top/slide_img/product_1250-837875030e1554269b883774e947e12451d7d8ba7fcec9606cceaf0691ec3aaf.jpg")

  .PcTopVisual__text__1B41p
    .PcTopVisual__text-box__2sKKY
      .PcTopVisual__main__1VJEV
        はじめよう。つながろう。かなえよう。
      .PcTopVisual__sub__3vVFg
        国内最大のクラウドファンディングReadyforで、最初の一歩を踏み出しませんか？
    .PcTopVisual__link__1tvB4
      .PcTopVisual__button__2dT0v
        = link_to "プロジェクトをはじめる", new_project_path, class: "PcTopVisual__proposal__3kFu1"
      .PcTopVisual__button__2dT0v.PcTopVisual__button-search__33N-U
        = link_to "プロジェクトをさがす" , projects_path, class: "PcTopVisual__search__3KjFr"
