.error-container
  .error-content
    .error-inner
      %h1 404
      %h2 - お探しのページが見つかりません
      %p 申し訳ありませんが、お探しのページが存在しないか、アクセスできません。
      %p 入力されたURLが正しいかご確認下さい。
      #back
        = link_to "トップに戻る", root_path
