.credit-card-content
  %h1 カード情報を確認してください！

  .credit-card-available
    %span
      ご利用可能なクレジットカード :
      = image_tag creditcard_img_url()
  .credit-card-input
    %table
      %tr
        %th カード番号
        %td
          %p= params[:card]
      %tr
        %th カード有効期限
        %td
          %span= params[:month]
          %span /
          %span= params[:year]

  .about-settlement-system
    %h2 決済システムについて
    %p
      GMOペイメントゲートウェイ株式会社を利用しています。
      サイトはSSL暗号化通信に対処しておりますので、入力した情報は安全に送信されます。
      クレジットカード情報が、プロジェクト実行者に開示されることは一切ありません。
