.return-content
  .return-content-title
    .return-content-title__text
  .return-items
    .return-item-left
      = image_tag ""
      %span 1,000円
    .return-item-right
      %h2 1,000円コース
      %p ■活動報告メールをお送りします。
      %p ■寄附金品領収証明書を発行いたします。
      %p 発送は2018年8月を予定】
