.purchase-contents
  .top-content
    #render-payment-content
    = render 'returns/payment1'
  .bottom-content
    .contact-us-content
      %h2 寄附にあたって
      .contact-us-content__list.row
        .contact-us-content__list__image.col-sm-4
          = image_tag 'https://readyfor.jp/assets/contribution/support02-63c9bd72490f296b6bb24ebbb94ceb79d315888c6bac3ef79e63cf9ef2c7e7bd.gif'
        .contact-us-content__list__text.col-sm-8
          %h3 安心安全のセキュリティ
          %p お客様の通信内容は高度な暗号化技術によって守られています。また個人情報の取り扱いについては寄附先との間で厳密な取り決めが結ばれております。
      .contact-us-content__list.row
        .contact-us-content__list__image.col-sm-4
          = image_tag 'https://readyfor.jp/assets/contribution/support03-875f72bd79d2db130a9a41aa35007461cc368c7fdec4d00c7133679b0d3552c2.gif'
        .contact-us-content__list__text.col-sm-8
          %h3 お気軽にお問い合わせください
          %p 寄附にあたって分からない点、不便な点などございましたら、03-6801-5767 もしくは info@readyfor.jp までお問い合わせ下さい。
