.purchase-contents
  .top-content
    .purchase-progress-content
      = image_tag "https://readyfor.jp/assets/contribution/flow01-734e16c18ee254970262a0bdb266999b639a20a249dd3e1d5ad4ab857d93fbec.png", id: "progress-image"
    .returns-content
      .return-lists
        .return-list
      .ticket-selected
      .return-total
    .payment-content
    .progress-button-content
  .bottom-content
