.purchase-contents
  .top-content
    .purchase-progress-content
      = image_tag "https://readyfor.jp/assets/contribution/flow01-734e16c18ee254970262a0bdb266999b639a20a249dd3e1d5ad4ab857d93fbec.png", id: "progress-image"
    .returns-content
      .return-lists
        .return-list
      .ticket-selected
        %h1 その他リターン
        = image_tag "/assets/down_arrow.png", id: "selected-btn"
      .return-total
        %p
          追加するリターン :
          %span 1,000円
          × 1個
        %hr
        .return-total__table
          %table
            %tr
              %th 合計金額
              %td 1,000円
        .return-total__right-text
          %span を
        .clear
        .return-total__text
          %p プロジェクト「開始3ヶ月、豪雨災害で水没した子どもの学び場「ホハル」再建へ」に支援します
    .payment-content
    .progress-button-content
  .bottom-content
