.tab-content{
  margin-bottom: 100px;
  .hide{
    display: none;
  }
  h1{
    border-left: solid 3px #FF8856;
    font-size: 26px;
    margin-top: 30px;
  }
  &__form-group{
    margin-top: 30px;
    label{
      font-size: 20px;
      margin-top: 50px;
    }
    .project-title{
      input{
        width: 70%;
        height: 40px;
        font-size:16px;
        border:1px solid #999999;
        padding:2px;
        border-radius:3px;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1) inset;
        margin: 0 auto;
      }
    }
    .project-target-amount{
      input{
        width: 50%;
        height: 40px;
        font-size:16px;
        border:1px solid #999999;
        padding:2px;
        border-radius:3px;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1) inset;
        margin: 0 auto;
      }
      span{
        font-size: 20px;
      }
    }
    .project-target-amount-next{
      input{
        width: 50%;
        height: 40px;
        font-size:16px;
        border:1px solid #999999;
        padding:2px;
        border-radius:3px;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1) inset;
        margin: 0 auto;
      }
      span{
        font-size: 20px;
      }
    }
    .project-image {
      input {
        margin-top: 20px;
      }
      img{
        max-width: 500px;
        max-height: 500px;
        border:1px solid #999999;
        margin-top: 20px;
        display: none;
      }
    }
    .project-period{
      select{
        font-size: 30px;
        margin-left: 10px;
      }
    }
    .project-overview{
      textarea{
        width: 100%;
        height: 500px;
        font-size:16px;
        border:1px solid #999999;
        padding:2px;
        border-radius:3px;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1) inset;
        margin: 0 auto;
      }
    }
    .project-type{
      label{
        margin-top: 10px;
        input{
          margin-left: 20px;
        }
      }
    }
  }
}
