.search-project-body{
  padding-top: 20px;
  background-color: whitesmoke;
  .container {
    width: 1000px;
    height: 1900px;
    .sidebar {
      width:228px;
      height: 1276px;
      float: left;
      .nav-menu-lists {
        border-top: 1px solid rgba(128, 128, 128, 0.3);
        margin-top: 10px;
      }
      .nav-menu-item {
        width: 100%;
        height: 45px;
        padding: 4px 0px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
      }
      a {
          margin: 8px 0;
          color: black;
          font-size: 13px;
          display: inline-block;
          width: 200px;
        }
      .fa-angle-right {
        line-height: 38px;
        color: #FF9900;
        font-size: 20px;
        padding-right: 10px;
        line-height: 30px;
        float: right;
      }
      .nav-project, .nav-category, .nav-area{
        h3 {
          margin-top: 15px;
          line-height: 30px;
          font-size: 16px;
          .fa-stack {
            font-size: 15px;
          }
          .fa-circle {
            opacity: 0.8;
          }
        }
        height: 415px;
        width: 100%;
        border-top: solid 3px #e60013;
      }
      .nav-category {
        height: 300px;
        width: 100%;
        margin-top: 30px;
        border-top: solid 3px #e60013;
      }
      .nav-area {
        height: 600px;
        width: 100%;
        margin-top: 30px;
        border-top: solid 3px #e60013;
      }
    }
    .page-main {
      width: 720px;
      height: 1900px;
      background-color: white;
      float: right;
    }
  }
}
