.return-content{
  width: 350px;
  margin-top: 30px;
  float: right;
  &__link-btm{
    p{
      text-align: center;
      margin-top: 10px;
    }
    .like-count-text{
      color: #D77976;
    }
    .like-count-btm{
      width: 300px;
      height: 50px;
      font-size: 22px;
      color: black;
      border : solid 1px #333333;
      margin: 10px 0 0 25px;
    }
    .likes_count {
      color: #D77976;
      padding: 10px;
    }
    #like-buttons{
      border-radius: 40px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
      width: 300px;
      display: inline-block;
      .like-circle{
        padding: 10px 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        float: left;
        background-color: rgb(243, 234, 234);
      }
      button {
        border: none;
        background-color: transparent;
        padding-top: 5px;
        display: flex;
      }
      .fa-heart {
        color: red;
      }
      .like-text{
        color: #4a4a4a;
        width: 210px;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        bottom: 8px;
        left: 20px;
      }
    }
  }
  .project-return {
    min-height: 500px;
    background-color: whitesmoke;
    padding: 25px;
    margin-top: 20px;
    &__title {
      width: 300px;
      height: 66px;
      h3 {
        font-size: 16px;
      }
    }
    &__price {
      margin: 15px 0;
      strong {
        font-size: 18px;
        font-family: serif;
        font-weight: bold;
        color: #444;
      }
      span {
        font-size: 16px;
      }
    }
    &__image {
      width: 280px;
      height: 173px;
    }
    &__content {
      margin-top: 15px;
    }
    &__helper {
      margin-top: 20px;
      width: 300px;
    }
    &__purchase {
      margin-top: 20px;
      .project-select-button {
        box-shadow: 0 2px rgba(0,0,0,0.2);
      }
      button {
        width: 300px;
        height: 60px;
        display: block;
        background-color: red;
        color: white;
        border-radius: 10px;
        font-size: 22px;

      }
    }
  }
}
