.bottom-content{
  width: 1000px;
  margin: 10px auto 0;
  &__tab-btm{
    border-bottom: 1px solid;
    height: 50px;
    display: flex;
    .project-tabs {
      width: 200px;
      background-color: white;
      text-align: center;
      p{
        line-height: 50px;
        font-size: 14px;
      }
    }
    .project-tabs:hover{
      text-decoration: underline;
      cursor: pointer;
    }

    .project-tabs.select{
      height: 50px;
      border-top: 1px solid;
      border-right: 1px solid;
      border-left: 1px solid;
      border-bottom: 0;
    }
  }
  &__tab-content{
    width: 610px;
    margin-top: 50px;
    float: left;
  }
}
