.user-profile{
  width: 400px;
  height: 80px;
  margin: 0 auto;
  &__icon{
    width: 80px;
    height: 80px;
    background: image-url("sample.jpg") #fff no-repeat center center;
    float: left;
  }
  &__name{
    height: 80px;
    float: left;
    margin-left: 30px;
    display: table;
    p{
      font-size: 20px;
      display: table-cell;
      vertical-align: middle;
      font-weight: bold;
    }
  }
}
