.main__footer {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 25px;
  border-top: 1px solid #d0d0d0;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;

  .footer__top {
    width: 978.39px;
    padding: 10px;
    justify-content: start;
    display: flex;

     .footer__content {
      display: flex;
      width: 220px;
      height: 316px;
      flex-flow: column nowrap;
      align-items: flex-start;

      .footer__content-header {
        font-size: 17px;
        color: #383838;
        padding: 10px 0;
      }
      a.footer__content-low {
        color: #656565;
        font-size: 14px;
        padding: 10px 0;
      }
    }

    .footer__content-img {
      height: 316px;
      width: 126px;
      position: relative;
      padding-left: 20px;

      .footer__content-link {
        position: absolute;
        bottom: 0;
        img {
          width:100px;
        }
      }
    }
  }
  .footer__bottom {
    height: 70px;
    width: 978.39px;
    display: flex;
    color: #656565;
    margin-top: 40px;
    align-items: center;
    border-top: 1px solid #d0d0d0;
    justify-content: space-between;

    .footer__bottom-left {
      text-align: initial;
      font-size: 10px;
    }
    .footer__bottom-right {
      width: 610px;
      padding-right: 10px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      a {
        font-size: 11px;
        color: #656565;
        padding-right: 7px;
      }
    }

    .footer__bottom-social {
      font-size: 20px;
      a {
        color: #656565;
      }
    }
  }
}
