a:link {
  text-decoration: none;
}

.Site-container {
  background-color: #f8f8f8;
  color: #444;
  font-size: 12px;
  line-height: 1.4;
  min-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.Page-body {
  background-color: #f8f8f8;
}
