.Grid {
  display: grid;
}

.Grid::after {
  clear: both;
  content: '';
  display: block;
}

.Entry {
  box-sizing: border-box;
  position: relative;
  border-radius: 2px;
  background-color: #fff;
}

.Entry__img img {
  width: 100%;
  height: auto;
}

.Entry.is-type1 {
  height: 393px;
}

.Entry.is-new::after {
  display: block;
  width: 52px;
  height: 0;
  background-color: red;
  background-repeat: no-repeat;
  background-position: -44px 132px;
  padding-top: 30px;
  overflow: hidden;
  content: '';
  position: absolute;
  top: 5px;
  left: -6px;
  z-index: 10;
}

.Grid__col4:nth-child(4n+1) {
  margin-left: 0 !important;
}
