.mypage-container {
  width: 950px;
  height: 400px;
  margin: 0 auto;
  a {
    color: black;
  }
  .mypage-left {
    float: left;
    width: 200px;
    height: 400px;
    background-color: white;
    padding-right: 5px;
    .mypage-image {
      float: left;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .mypage-profile {
      float: left;
      font-size: 12px;
      margin-left: 20px;
    }
    .message-list, .answer-list {
      margin: 10px 0 10px 0;
      border-bottom: 1px solid gray;
    }
    .filter-item {
      width: 200px;
      height: 35px;
      font-size: 14px;
      padding-left: 10px;
      margin-top: 5px;
      line-height: 35px;
      color: gray;
      a {
        display: block;
      }
    }
    .selected a {
      color: white;
    }
    .mypage-top {
      height: 80px;
      width: 100%;
      margin-top: 10px;
    }
    .mypage-edit {
      margin-top: 3px;
    }
    .mypage-list {
      margin-left: 10px;
      color: gray;
    }
  }
  .left-wrapper .selected {
    background-color: #4078c0 ;
    color: white;
    border-radius: 5px;
  }
  .mypage-right {
    float: right;
    width: 740px;
    background-color: white;
    border-left:solid 1px #ccc;
    padding-left: 10px;
  }
  .right-wrapper {
    h2 {
      font-size: 14px;
      margin: 0;
      color: gray;
    }
    .return-lists {
      background-color: whitesmoke;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
      text-align: center;
      line-height: 83px;
      font-size: 15px;
      border-radius: 10px;
      padding: 20px 0;
      table {
        width: 700px;
        margin: 0 auto;
        tr {
          height: 30px;
        }
        th, td {
          border: solid 1px black;
          border-collapse: collapse;
          line-height: 20px;
        }
        th {
          background-color: #f0f8ff;
          font-weight: bold;
          text-align: center;
        }
        td {
          background-color: white;
          a {
            display: block;
            color: blue;
          }
        }
        .time {
            text-align: left;
            padding-left: 10px;
          }
      }
    }
    button {
      width: 578px;
      height: 32px;
      background-color: #e53935;
      color: white;
      border: none;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}
