.mypage-container {
  width: 950px;
  height: 400px;
  margin:0 auto;
  margin-top:70px;
  .mypage-left {
    float: left;
    width: 200px;
    height: 400px;
    background-color: white;
    padding-right: 5px;
    .mypage-image {
        float: left;
      .portorate{
        width: 60px;
        height: 60px;
        background-color: green;
      }
    }
    .mypage-profile {
      float: left;
      font-size: 12px;
      margin-left: 20px;
    }
    .filter-list {
      padding-left: 10px;
    }
    .message-list, .answer-list{
      margin: 10px 0 10px 0;
    }
    .filter-item {
      width: 180px;
      height: 35px;
      font-size: 14px;
      padding-left: 10px;
      margin-top: 5px;
      line-height: 35px;
      color: gray;
    }
    .selected a{
      color: white;
    }
    .mypage-top {
      height: 80px;
      width: 100%;
      margin-top: 10px;
    }
    .mypage-edit {
      margin-top: 3px;
    }
    a {
      display: block;
    }
    .mypage-list {
      margin-left: 10px;
      color: gray;
    }
    .message-list, .answer-list{
      border-bottom: 1px solid gray
    }
  }
  .left-wrapper .selected{
    background-color: blue;
    color: white;
  }
  .mypage-right{
    float: right;
    width: 740px;
    background-color: white;
    border-left:solid 2px gray;
    padding-left: 10px;
  }
  .right-wrapper{
    h2 {
      font-size: 14px;
      margin: 0;
      color: gray;
    }
    .return-list{
      background-color: #fafafa;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
      width: 740px;
      height: 83px;
      text-align: center;
      line-height: 83px;
      font-size: 15px;
      border-radius: 10px;
    }
    button{
      width: 578px;
      height: 32px;
      background-color: #e53935;
      color: white;
      border: none;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}
