.user-container {
  height: 400px;
  width: 640px;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 5px 5px 20px;
  .user-left{
    width: 314px;
    height: 400px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdOGslwjMpbxB64JKwOEdQB8QdX7kVaPCpW30erfUsiCyvmlWj-g);
    background-size: cover;
    float: left;
    color: white;
  }
  .left-content {
    margin-left: 20px;
    .left-content__input {
      height: 100px;
      width: 100%;
      margin: 20px 0 0  15px;
      color: black;
    }
    button {
      margin-left: 20px;
      font-size: 14px;
      width : 240px;
      height: 40px;
      background-color: #204ea8;
      border: none;
      color: white;
      display: block;
      line-height: 40px;
      opacity: 0.8;
      margin-top: 10px;
    }
    #user_email,#user_password {
      width: 232px;
      height: 30px;
      font-size: 12px;
      padding: 10px;
      color: black;
    }
    #user_email {
      margin-top: 35px;
      height: 40px;
    }
    #user_password,#user-nickname {
      margin-top: 10px;
      height: 35px;
    }
    .left-content__button {
      margin-top: 20px;
    }
    .left-content__checkbox {
      float: left;
      font-size: 8px;
      margin-top: 10px;
      margin-right: 20px;
    }
    .left-content__submit {
      margin-top: 20px;
      width: 300px;
      height: 40px;
      #user_remember_me {
        float: left;
      }
      #login-checkbox {
        font-size: 12px;
        float: left;
      }
      #login-button {
        background-color: red;
        width: 102px;
        height: 36px;
        opacity: 1;
        border-color: red;
        float: left;
        margin-left: 10px;
      }
    }
    h1 {
      font-size: 14px;
      padding-top: 32px;
    }
    h2 {
      font-size: 14px;
      margin-top: 20px;
    }
  }
  .user-right {
    width: 326px;
    height: 400px;
    float: right;
    background-color: white;
    .right-content{
      padding:32px 48px 0 48px;
      .right-content__input {
        margin-top: 20px;
      }
      #right-content-email {
         background-color: red;
         width: 240px;
         height: 36px;
         color: white;
         text-align: center;
         margin-top: 20px;
         line-height: 36px;
         margin-bottom: 20px;
      }
      button {
        font-size: 14px;
        width : 240px;
        height: 40px;
        background-color: #204ea8;
        border: none;
        color: white;
        display: block;
        line-height: 40px;
        opacity: 0.8;
      }
      h1 {
        font-size: 14px;
        text-align: center;
        color: red;
        padding-bottom:16px;
        border-bottom: solid 3px red;
      }
      h2 {
        font-size: 11px;
        text-align: center;
      }
      .right-content-fb {
        margin-top: 10px;

      }
      .warning-notice, a {
        font-size: 8px;
        margin-top: 20px;
      }
      .email-receive-option {
        margin-top: 10px;
      }
      .right-form {
        width: 230px;
        height: 30px;
        margin-top:5px;
        padding: 8px;
        font-size: 12px;
      }
      #signin-button {
        width: 102px;
        height: 36px;
        background-color: red;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 60px;
        color: white;
      }
    }
  }
  .hidden {
    display: none;
  }
}
