.progress-button-content{
  width: 800px;
  margin: 0 auto 50px auto;
  overflow: hidden;
  .fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  .faq-link {
    color: #c11329;
  }
  h1{
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
  }
  .progress-button{
    margin-top: 50px;
    &__return{
      height: 55px;
      width: 257px;
      float: left;
      background-color: white;
      img{
        float: left;
        width: 6%;
        height: auto;
        margin: 15px 10px 0 20px;
      }
      p{
        font-size: 16px;
        line-height: 55px;
        float: left;
      }
    }
    &__return:hover{
      cursor: pointer;
    }
    &__next{
      height: 55px;
      width: 257px;
      float: right;
      background-color: #B22B30;
      p{
        font-size: 16px;
        line-height: 55px;
        color: white;
        float: left;
        margin-left: 20px;
      }
      img{
        float: right;
        width: 6%;
        height: auto;
        margin: 15px 20px 0 0;
      }
    }
    &__next:hover{
      cursor: pointer;
    }
  }
}
