.progress-button-content{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  .fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  .faq-link {
    color: #c11329;
  }
  h1{
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
  }
  .progress-button{
    margin-top: 50px;
    &__return{
      height: 55px;
      width: 257px;
      float: left;
      background-color: white;
      p{
        font-size: 16px;
        line-height: 55px
      }
    }
    &__next{
      height: 55px;
      width: 257px;
      float: right;
      background-color: #B22B30;
      p{
        font-size: 16px;
        line-height: 55px;
        color: white;
      }
    }
  }
}
