.returns-content{
  background-color: white;
  width: 800px;
  height: 500px;
  margin: 30px auto 0;

  .return-lists{
    height: 100px;
  }

  .ticket-selected{
    height: 65px;
    background-color: #F2F2F2;
    margin: 0 60px;
    border:1px solid #DDDDDD;
    border-radius: 10px;
    overflow:hidden;
    h1{
      font-size: 20px;
      margin-left: 20px;
      line-height: 65px;
      float: left;
    }
    #selected-btn{
      width: 40px;
      height: 40px;
      margin: 12px 20px 0 0;
      float: right;
    }
  }
  .ticket-selected:hover{
    background-color: #FFFFFF;
    cursor: pointer;
  }

  .return-total{
    margin: 10px 60px;
    background-color: #F2F2F2;
    padding: 30px;
    p{
      font-size: 20px;
      span{
        font-size: 26px;
        font-weight: bold;
      }
    }
    hr{
      border-top: dashed 1px #AAAAAA;
    }
    table{
      tr{
        th{
          border: 1px #BBBBBB solid;
          padding: 5px 20px;
          background-color: #D4D2D2;
          font-size: 22px;
        }
        td{
          border: 1px #BBBBBB solid;
          padding: 5px 200px 5px 50px;
          font-size: 26px;
        }
      }
    }
  }
}
