.purchase-contents{
  background-color: #F2F2F2;
  margin-bottom: 30px;
  .top-content{
    width: 960px;
    margin: 0 auto;
  }
  .bottom-content{
    width: 100%;
    background-color: white;
    overflow: hidden;
  }
}
