.return-list-content{
  margin: 50px 0;
  border:1px solid #DDDDDD;
  border-radius: 10px 10px 10px 10px;
  .return-list-content-title{
    height: 65px;
    background-color: #F2F2F2;
    border:1px solid #DDDDDD;
    border-radius: 10px;
    overflow: hidden;
    h1{
      font-size: 20px;
      margin-left: 20px;
      line-height: 65px;
      float: left;
    }
    #selected-btn{
      width: 40px;
      height: 40px;
      margin: 12px 20px 0 0;
      float: right;
    }
  }
  .return-list-content-title:hover{
    background-color: #FFFFFF;
    cursor: pointer;
  }

  .return-items{
    overflow: hidden;
    .return-item-left{
      padding-top: 10px;
      .return-price{
        img{
          width: 10%;
          height: auto;
          margin-left: 30px;
        }
        span{
          font-size: 26px;
        }
      }
      .return-numbar{
        select{
          margin-left: 70px;
        }
        span{
          font-size: 20px;
        }
      }
    }
    .return-item-right{
      border-left: solid 1px #000000;
    }
  }
}
