%article.Entry.is-type2
  .Entry__img
    .Entry__img-mask
      = link_to('https://readyfor.jp/projects/asupport') do
        = image_tag( 'https://readyfor.jp/s3/readyfor-img/project_images/15907/large/a3e535ff6bf69b394c5f9e51bb14e968fe3cda3e.png?1524477802',
                     alt: '障がいがある仲間とつくる 愛情たっぷり グラノーラをあなたに')
        %p
          障がいを持った方でも技術を身に付け、安心して働き続けることができる就労の場を創りたい。グラノーラ製造販売で未来につながる一歩を踏み出します！

  .Entry__body
    .Entry__body-mask
      = link_to('https://readyfor.jp/projects/asupport') do
        %h3.Entry__h.is-hide-line2.u-mb_3
          障がいがある仲間とつくる 愛情たっぷり グラノーラをあなたに
        .Entry__condition-group
          .Entry__numerical-info
            %dl.Entry__condition-amount
              %dt
                支援総額
              %dd
                / react-text: 203
                1,553,000
                / /react-text
                / react-text: 204
                円
                / /react-text
            %dl
              %dt
                終了日
              %dd
                6/29
          .project-type-badge.normal
            購入型
