%article{ class: "Entry is-type1 Grid__col4 u-mb_40  null"}
  = link_to ("https://readyfor.jp/projects/rainbowschool") do
    .Entry__img
      .Entry__img-mask
        %figure
          = image_tag("https://readyfor.jp/s3/readyfor-img/project_images/16366/large/9897e11ab3662e89f4cfb09287dfc8df2585f1af.jpg?1530772415",
                      data:  { src: "https://readyfor.jp/s3/readyfor-img/project_images/16366/large/9897e11ab3662e89f4cfb09287dfc8df2585f1af.jpg?1530772415" },
                      alt:   "退去の危機をチャンスに変えて！タイ国境&quot;虹の学校&quot;移転大計画！",
                      class: " lazyloaded")
    .Entry__body
      %h4{ class: "Entry__h is-hide-line3" }
        退去の危機をチャンスに変えて！タイ国境"虹の学校"移転大計画！
      .Entry__project-type-badge
        .project-type-badge.normal
          購入型
      .Entry__info-founder.hidden-while-processing
        %span{ class: "Entry__info-founder-icon" }
          = image_tag("https://readyfor.jp/s3/readyfor-img/user_images/50196/thumb/d637557d668ce8838a0c973c72ece3bf7fb96993.jpg?1527943856",
                      class:  "Entry__icon-img",
                      alt:    "片岡朋子／田村恵（虹の学校校長／虹の学校相談役）")
        %span{ class: "Entry__info-founder-name should-be-abbriviate" }
          片岡朋子／田村恵（虹の学校校長／虹の学校相
      .Entry__condition
        %dl{ class: "Entry__condition-sum" }
          %dt{ class: "Entry__condition-sum-dt" }
            支援総額
          %dd{ class: "Entry__condition-sum-dd" }
            <!-- react-text: 524 -->5,785,000
            <!-- /react-text -->
            <!-- react-text: 525 -->円
            <!-- /react-text -->
        %dl{ class: "Entry__condition-remain" }
          %dt{ class: "Entry__condition-remain-dt" }
            残り
          %dd{ class: "Entry__condition-remain-dd" }
            57日
      .Entry__gauge.Gauge.is-top
        .Gauge__obj.is-1{ style: "width: 82%;" }
        .Gauge__txt
          <!-- react-text: 532 -->82
          <!-- /react-text -->
          <!-- react-text: 533 -->%
          <!-- /react-text -->
