.footer__top

  .footer__content
    .footer__content-header 運営情報
    %a.footer__content-low 運営会社
    %a.footer__content-low 採用情報
    %a.footer__content-low メディア掲載一覧
    %a.footer__content-low 7th Anniversary
    %a.footer__content-low READYFOR OF THE YEAR
    %a.footer__content-low ヘルプ・お問い合わせ
    %a.footer__content-low マニュアル

  .footer__content
    .footer__content-header はじめる
    %a.footer__content-low クラウドファンディングとは
    %a.footer__content-low プロジェクトをはじめる
    %a.footer__content-low 創業をお考えの方へ
    %a.footer__content-low マッチングギフト
    %a.footer__content-low お知らせ

  .footer__content
    .footer__content-header さがす
    %a.footer__content-low 募集中のプロジェクト
    %a.footer__content-low 成功したプロジェクト
    %a.footer__content-low Readyfor VOYAGE
    %a.footer__content-low 緊急災害支援プログラム
    %a.footer__content-low 大学向けクラウドファンディング
    %a.footer__content-low Readyforふるさと納税


  .footer__content-img
    .footer__content-link
      =link_to("http://service-award.jp/index.html") do
        = image_tag("https://readyfor.jp/assets/corporate/japan_service_award_03-0bdf04e1391453dfa9a69e5917688d911a56a6f114ec539fa1aa7ae666e98e2d.png")

.footer__bottom
  .footer__bottom-left Copyright 2011 READYFOR, Inc. All rights reserved.
  .footer__bottom-right
    %a{href: :"https://readyfor.jp/privacypolicy"} プライバシーポリシー
    %a{href: :"https://readyfor.jp/terms_of_service"} 利用規約
    %a{href: :"https://readyfor.jp/guidelines"} ガイドライン
    %a{href: :"https://readyfor.jp/commercial_transactions"} 特定商取引法に基づく表記

  .footer__bottom-social
    %a.fa.fa-twitter{href: :"https://twitter.com/ready_for/"}
    %a.fa.fa-facebook{href: :"https://www.facebook.com/readyfor/"}
    %a.fa.fa-comment{href: :"https://line.me/R/ti/p/%40lbw2411m/"}
