.header__left
  .header__left-logo
    = link_to( "http://service-award.jp/index.html" ) do
      = image_tag( "https://files.value-press.com/czMjYXJ0aWNsZSMxOTE1NCMxODQ2MzUjMTkxNTRfdExTenJSR29iVi5qcGc.jpg" )

  .header__left-searchText
    .header__left-searchIcon
      %i.fa.fa-search
    %input{ size: :"25", type: :"text", placeholder: :"プロジェクトを探す" }


.header__right
  .header__right-item
    %a クラウドファンディングとは
    %a はじめる
    %a さがす
    - if user_signed_in?
      = image_tag( "https://readyfor.jp/s3/readyfor-img/user_images/427103/medium/4318afb5382fc152e33dacc5e78583c291ca65e3.?1529888932" )
    - else
      %a.login-botton ログイン・登録
  - if user_signed_in?
    .header__right-panel
      %a{ href: "https://readyfor.jp/mypage/messages" } メッセージ
      %a{ href: "https://readyfor.jp/mypage" } 購入履歴
      %a{ href: "https://readyfor.jp/mypage/edit" } プロフィール編集
      %a{ href: "https://readyfor.jp/mypage/project_list?type=watched" } お気に入りリスト
      %a{ href: "https://readyfor.jp/sign_out" } ログアウト
