-# ブロックのヘッダー部分テンプレート。 topppage_helperのrender_headerで呼び出す。

%header{ class: "Header #{ custom_class[:header] }" }
  %div{ class: "Heading #{ custom_class[:heading] }" }
    %h2
      #{ text }
  - if has_more_link
    = link_to('もっと見る', "#", { class: "u-fl_r Header-more" })
