.header__left
  .header__left-logo
    =link_to( "http://service-award.jp/index.html" ) do
      = image_tag( "https://files.value-press.com/czMjYXJ0aWNsZSMxOTE1NCMxODQ2MzUjMTkxNTRfdExTenJSR29iVi5qcGc.jpg" )

  .header__left-searchText
    .header__left-searchIcon
      %i.fa.fa-search
    %input{ size: :"25", type: :"text", placeholder: :"プロジェクトを探す" }


.header__right
  .header__right-item
    %a クラウドファンディングとは
    %a はじめる
    %a さがす
    %a.login-botton ログイン・登録
